/* General Styles */
.mainSubContainer {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  width: 30%;
  min-width: 200px;
}

.title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 1.375rem;
}

.inputContainerGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  color: #828282;
}

.oneIcon,
.lockIcon {
  left: 10px;
}

.eyeIcon {
  right: 10px;
  cursor: pointer;
}

.inputField {
  border: 1px solid #d0d0d0;
  border-radius: 11px;
  padding: 15px 40px;
  width: 100%;
  color: #828282;
  outline: none;
}

.button {
  border: none;
  border-radius: 50px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
}

.primary {
  background-color: #17a2b8;
  color: white;
  margin-top: 25px;
}

.errorMsg {
  text-align: left;
  color: red;
  font-size: 0.9rem;
  margin-top: -9px;
}

/* Disabled button styles */
.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Hover effect for enabled buttons */
.button:not([disabled]):hover {
  opacity: 0.9;
}
