h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
main {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #fff;
  color: #000000;
}

.header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #000000;
  height: auto;
  overflow: hidden;
  /* Prevent text from wrapping */
  white-space: nowrap;
  /* Show ellipsis if text overflows */
  text-overflow: ellipsis;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  padding-left: 15px;
}
.header img {
  max-width: 24px;
}

.container {
  max-width: 655px;
  max-height: 550px;
  overflow: hidden;
  margin: 2rem auto;
  padding: 2.5rem 1.7rem;
  border: 2px solid #edf5fe;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.priority {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #707070;
}
.priority .icon {
  margin-right: 0.5rem;
  width: 9px;
  height: 9px;
}
.priority span {
  font-size: 8px;
  text-transform: uppercase;
}

.sectionTitle {
  font-size: 22px;
  color: #000000;
  margin-bottom: 2rem;
}

.checklist {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.checklist label {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  margin-bottom: 0.8rem;
}
.checklist span {
  font-size: 0.9rem;
}
.scrollableSection > div {
  width: 10px;
}
.scrollableSection {
  max-height: 300px;
  overflow-y: auto;
}
/* Style the scrollbar */
.scrollableSection::-webkit-scrollbar {
  width: 12px; /* Set width of the scrollbar */
}
/* Track */
.scrollableSection::-webkit-scrollbar-track {
  background: #fff; /* Set track color */
  border-radius: 10px; /* Set border radius */
}
/* Handle */
.scrollableSection::-webkit-scrollbar-thumb {
  background: #9cb7c5; /* Set thumb color */
  border-radius: 10px; /* Set border radius */
  border: 1px solid #9cb7c5;
  /* transform: rotate(90deg); */
}
/* Handle on hover */
.scrollableSection::-webkit-scrollbar-thumb:hover {
  background: #7f9da7; /* Set thumb color on hover */
}

.dueDate {
  font-size: 0.9rem;
  margin-top: 1.5rem;
}
.dateBox {
  margin-left: 10px;
}
.dateBox {
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #cf3636;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
