/* Global styles */
.mainSubContainer {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 100%;
  position: relative;
  color: #000000;
  /* border: 3px solid red; */
}

/* Header styles */
.header {
  font-weight: 600;
  /* font-size: 1.375rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 20px;
}
.header > time {
  font-weight: 500;
  font-size: 1.25rem;
  color: #707070;
}

/* Content */
.content {
  flex: 1;
  /* Add vertical scrollbar when content exceeds parent height */
  /* overflow-y: auto; */
  overflow: hidden;
}

/* Heading styles */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
  padding-right: 20px;
}
.heading h3 {
  font-weight: 500;
}
.select {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  /* border: 1px solid #000; */
  border: none;
  outline: none;
  color: #000000;
  position: relative;
  cursor: pointer;
  width: auto;
  display: flex;
  justify-content: right;
}
.select > label {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5px;
  flex: 1;
  cursor: pointer;
}

/* Container styles */
.container {
  display: flex;
  gap: 15px;
  width: 100%;
  height: 91%;
  padding-bottom: 5px;
  flex: 1;

  /* Scroll effect */
  overflow-x: auto;
}

/* Section styles */
.section {
  font-weight: 500;
  flex: 1;
  min-width: 26%;
  background-color: #eef2f5;
  border-radius: 10px;
  padding: 15px;
  padding-right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Scroll effect*/
  max-height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

/* Style the scrollbar */
.scrollableSection::-webkit-scrollbar {
  /* Set width of the scrollbar */
  width: 14px;
}
/* Track */
.scrollableSection::-webkit-scrollbar-track {
  background: #d6eaf4; /* Set track color */
  border-radius: 14px; /* Set border radius */
}
/* Handle */
.scrollableSection::-webkit-scrollbar-thumb {
  background: #8daab9; /* Set thumb color */
  border-radius: 14px; /* Set border radius */
  border: 1px solid #9cb7c5;
}
/* Handle on hover */
.scrollableSection::-webkit-scrollbar-thumb:hover {
  background: #6c8898; /* Set thumb color on hover */
}

/* Subsection styles */
.subsection {
  /* margin-bottom: 5px; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}
.subsection h4 {
  font-weight: 500;
}
.greetingText {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Inner subsection styles */
.innerSubsection {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

/* Icon container styles */
.iconContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  cursor: pointer;
}

/* Priority subsection styles */
.prioritySubsection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Priority icon styles */
.priority > .icon {
  color: #000000;
}

/* Dot icon styles */
.dotIcon {
  margin-right: 5px;
  color: #000000;
  width: 7px;
  height: 7px;
}

/* Priority text styles */
.priorityText {
  font-weight: 500;
  font-size: 0.5em;
  margin-right: 10px;
}

/* Hero title styles */
.heroTitle {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.125rem;
}

/* Checklist subsection styles */
.checklistSubsection {
  display: flex;
  flex-direction: column;
}

/* Checklist styles */
.checklist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.checklist > label {
  font-size: 0.875rem;
  margin-right: 10px;
}
.checklist > .icon {
  background-color: #eeecec;
  padding: 2px;
  cursor: pointer;
}

/* Task styles */
.tasks {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;

  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.task {
  margin-bottom: 5px;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  padding: 10px;
}
.task input[type="checkbox"] {
  display: none;
}
.task label::before {
  content: "";
  display: inline-block;
  /* custom checkbox size */
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 2px solid #e2e2e2;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 5px;
}
.task input[type="checkbox"]:checked + label::before {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.task label::after {
  /* Unicode character for check mark */
  content: "\2714";
  /* Adjust this value to change the size of the check mark */
  color: #fff;
  position: absolute;
  /* Adjust this value to center the check mark horizontally & vertically*/
  left: 2px;
  top: 3px;
  /* Hide the check mark by default */
  opacity: 0;
  transition: opacity 0.2s;
}
.task input[type="checkbox"]:checked + label::after {
  /* Show the check mark when the checkbox is checked */
  opacity: 1;
}
.task label {
  display: inline-block;
  position: relative;
  /* Adjust this value to change the distance between the checkbox and the label */
  padding-left: 25px;
  cursor: pointer;
}

/* Options subsection styles */
.optionsSubsection {
  font-size: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.subOptions {
  display: flex;
  gap: 5px;
}

/* Date styles */
.date {
  background-color: #cf3636;
  color: white;
  border-radius: 10px;
  padding: 6px;
}

/* Options styles */
.option {
  background-color: #eeecec;
  color: #767575;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 986px) {
  /* Media query for screens narrower than 986px */
  .subOptions {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  /* Media query for screens between 768px and 450px */
  .container {
    flex-direction: column;
  }

  .section {
    width: 100%;
    min-height: 250px;
  }

  .subOptions {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
