/* Global styles */
.mainSubContainer {
  color: #000000;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 0.8em;
  margin-bottom: 20px;
}
.header > time {
  font-weight: 500;
  font-size: 1.2em;
  color: #707070;
}

/* Heading styles */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.2em;
}
.select {
  border: 1px solid #000000;
}

/* Container styles */
.container {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
}

/* Section styles */
.section {
  min-width: 27%;
  background-color: #eef2f5;
  border-radius: 10px;
  /* height: 100vh; */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  scroll-behavior: auto;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #8daab9;
}

/* Subsection styles */
.subsection {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}

/* Inner subsection styles */
.innerSubsection {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  min-height: 320px;
}

/* Icon container styles */
.iconContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  cursor: pointer;
}

/* Priority subsection styles */
.prioritySubsection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Priority icon styles */
.priority > .icon {
  color: #000000;
}

/* Dot icon styles */
.dotIcon {
  margin-right: 5px;
  color: #ff2473;
  width: 7px;
  height: 7px;
}

/* Priority text styles */
.priorityText {
  font-weight: 500;
  font-size: 0.6em;
  margin-right: 10px;
}

/* Hero title styles */
.heroTitle {
  margin-bottom: 15px;
}

/* Checklist subsection styles */
.checklistSubsection {
  display: flex;
  flex-direction: column;
}

/* Checklist styles */
.checklist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.checklist > label {
  font-size: 1em;
  font-weight: 600;
  margin-right: 10px;
}
.checklist > .icon {
  background-color: #eeecec;
  padding: 2px;
  cursor: pointer;
}

/* Task styles */
.tasks {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.task {
  margin-bottom: 5px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 10px;
}
.task > input[type="checkbox"] {
  border: 2px solid #e2e2e2;
  border-radius: 10px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  outline: none;
  /* margin-right: 5px; */
}
.task > input[type="checkbox"]:checked {
  background-color: #90c4cc;
}
.task > label {
  font-weight: 400;
  font-size: 0.9em;
  margin-left: 5px;
  cursor: pointer;
}

/* Options subsection styles */
.optionsSubsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.subOptions {
  display: flex;
  gap: 5px;
}

/* Date styles */
.date {
  background-color: #cf3636;
  color: white;
  border-radius: 10px;
  padding: 6px;
  font-size: 0.6em;
  cursor: pointer;
}

/* Options styles */
.option {
  background-color: #eeecec;
  color: #767575;
  border-radius: 10px;
  padding: 6px;
  font-size: 0.6em;
  cursor: pointer;
}
