.customInputContainer {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: auto;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  background-color: #fff;
  padding: 1px;
  margin-top: 10px;
}

.customInputContainer:disabled {
  cursor: none;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-left: 5px;
}

.deleteIcon {
  cursor: pointer;
  color: #cf3636;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.textInput {
  width: 100%;
  padding: 0.75rem;
  padding-left: 6px;
  padding-right: 6px;
  border: none;
  border-radius: 12px;
  outline: none;
}

.checkboxInput {
  appearance: none;
  background: #fff;
  color: #fff;
  width: 18px;
  height: 18px;
  border: 2px solid #e2e2e2;
  border-radius: 6px;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.checkboxInput:checked {
  background: #17a2b8;
  border: 2px solid #17a2b8;
}
.checkboxInput::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 1em 1em #fff;
  background: #fff;
  border: 2px solid #fff;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.checkboxInput:checked::before {
  transform: scale(1);
}
